@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.Header {
    background-color: #445572;
    width: 100%;
    padding: 11px 3%;
    display: flex;
    /*justify-content: flex-start;*/
    justify-content: space-between;
    align-items: center;
}

.HeaderText {
    display: flex;
}

.HeaderText h1 {
    font-family: 'Patrick Hand', cursive;
    color: #fffafa;
    font-size: 5em;
}

.HeaderText h3 {
    font-family: 'Patrick Hand', cursive;
    color: #fffafa;
    padding: 1.6em 0 0 1.5em;
    font-size: 1.5em;
}

.LogoutListElement {
    list-style: none;
}

.LogoutButton {
    /*padding: 1.6em 0 0 1.5em;*/
    align-self: flex-end;
    margin-top: 17px;
    color: #fff;
}

.LogoutButton:hover {
    color: #fff;
    /*font-weight: bold;*/
    text-decoration: none;
    border: 1px solid #fff;
    padding: 11px 15px;
}

.LogoutButton:focus {
    border: 2px solid #fff;
    box-shadow: none;
    text-decoration: underline;
}
