.Friend {
    padding: 22px;
    background-color: #7184a4;
    display: inherit;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 4px;
    box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.59);
}

.Friend p {
    color: white;
    padding-top: 13px;
}

.Button {
    background-color: #eaeaea;
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.45);
    color: #445572;
    border-color: #445572 !important;
}

.ButtonRemove {
    background-color: #b85757 !important;
    box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.45);
    color: #f5f5f5;
    border-color: #445572 !important;
}

.ButtonRemove:hover {
    background-color: #b53636 !important;
}
